{
  "openapi": "3.1.0",
  "info": {
    "title": "oaix Admin API",
    "version": "2026-06-19"
  },
  "servers": [
    {
      "url": "https://oaix.fugue.pro"
    }
  ],
  "security": [
    {
      "serviceApiKey": []
    }
  ],
  "paths": {
    "/admin/openapi.json": {"get": {"responses": {"200": {"description": "OpenAPI snapshot"}}}},
    "/admin/options": {"get": {"responses": {"200": {"description": "Filter options"}}}},
    "/admin/tokens": {"get": {"responses": {"200": {"description": "Token list"}}}},
    "/admin/tokens/export": {"get": {"responses": {"200": {"description": "Token export"}}}},
    "/admin/tokens/{id}": {"get": {"responses": {"200": {"description": "Token detail"}}}, "patch": {"responses": {"200": {"description": "Update token metadata"}}}, "delete": {"responses": {"200": {"description": "Delete token"}}}},
    "/admin/tokens/{id}/cooldown": {"post": {"responses": {"200": {"description": "Set cooldown"}}}},
    "/admin/token-cooldown/{id}": {"delete": {"responses": {"200": {"description": "Clear cooldown"}}}},
    "/admin/token-last-error/{id}": {"delete": {"responses": {"200": {"description": "Clear last error"}}}},
    "/admin/tokens/{id}/secrets": {"post": {"responses": {"200": {"description": "Rotate secrets"}}}},
    "/admin/tokens/{id}/refresh": {"post": {"responses": {"200": {"description": "Refresh access token"}}}},
    "/admin/token-refresh-history/{id}": {"get": {"responses": {"200": {"description": "Refresh token history"}}}},
    "/admin/tokens/{id}/merge": {"post": {"responses": {"200": {"description": "Merge token"}}}},
    "/admin/tokens/{id}/unmerge": {"post": {"responses": {"200": {"description": "Unmerge token"}}}},
    "/admin/token-quota-history/{id}": {"get": {"responses": {"200": {"description": "Quota snapshot history"}}}},
    "/admin/tokens/quota-refresh": {"post": {"responses": {"202": {"description": "Create quota refresh job"}}}},
    "/admin/tokens/quota-refresh/{job_id}": {"get": {"responses": {"200": {"description": "Quota refresh job"}}}},
    "/admin/import/parse": {"post": {"responses": {"200": {"description": "Parse import payload"}}}},
    "/admin/import/upload": {"post": {"responses": {"200": {"description": "Upload import file"}}}},
    "/admin/import/jobs": {"get": {"responses": {"200": {"description": "Import jobs"}}}, "post": {"responses": {"202": {"description": "Create import job"}}}},
    "/admin/import/jobs/{id}": {"get": {"responses": {"200": {"description": "Import job detail"}}}, "delete": {"responses": {"200": {"description": "Delete import job"}}}},
    "/admin/import/jobs/{id}/items": {"get": {"responses": {"200": {"description": "Import job items"}}}},
    "/admin/import/jobs/{id}/tokens": {"get": {"responses": {"200": {"description": "Import job tokens"}}}},
    "/admin/import/jobs/{id}/failed-items": {"get": {"responses": {"200": {"description": "Failed import items"}}}},
    "/admin/import/jobs/{id}/retry": {"post": {"responses": {"200": {"description": "Retry import job"}}}},
    "/admin/import/items/{id}/retry": {"post": {"responses": {"200": {"description": "Retry import item"}}}},
    "/admin/import/items/{id}/skip": {"post": {"responses": {"200": {"description": "Skip import item"}}}},
    "/admin/oauth/openai/sessions": {"post": {"responses": {"200": {"description": "Create OAuth session"}}}},
    "/admin/oauth/openai/sessions/{id}": {"get": {"responses": {"200": {"description": "OAuth session"}}}, "delete": {"responses": {"200": {"description": "Cancel OAuth session"}}}},
    "/admin/oauth/openai/sessions/{id}/exchange": {"post": {"responses": {"200": {"description": "Exchange OAuth code"}}}},
    "/admin/requests": {"get": {"responses": {"200": {"description": "Request logs"}}}},
    "/admin/requests/{request_id}": {"get": {"responses": {"200": {"description": "Request detail"}}}},
    "/admin/requests/export": {"get": {"responses": {"200": {"description": "Request export"}}}},
    "/admin/analytics/models": {"get": {"responses": {"200": {"description": "Model analytics"}}}},
    "/admin/analytics/cache": {"get": {"responses": {"200": {"description": "Cache analytics"}}}},
    "/admin/analytics/errors": {"get": {"responses": {"200": {"description": "Error analytics"}}}},
    "/admin/analytics/latency": {"get": {"responses": {"200": {"description": "Latency analytics"}}}},
    "/admin/settings/{key}": {"get": {"responses": {"200": {"description": "Setting"}}}, "post": {"responses": {"200": {"description": "Update setting"}}}, "delete": {"responses": {"200": {"description": "Delete setting"}}}},
    "/admin/audit-logs": {"get": {"responses": {"200": {"description": "Audit logs"}}}},
    "/admin/api-keys": {"get": {"responses": {"200": {"description": "API key summaries"}}}, "post": {"responses": {"201": {"description": "Create API key"}}}},
    "/api/auth/register": {"post": {"responses": {"201": {"description": "Register user"}}}},
    "/api/auth/login": {"post": {"responses": {"200": {"description": "Login and create API key"}}}},
    "/api/me": {"get": {"responses": {"200": {"description": "Current principal"}}}},
    "/api/me/api-keys": {"get": {"responses": {"200": {"description": "My API keys"}}}, "post": {"responses": {"201": {"description": "Create my API key"}}}},
    "/api/me/api-keys/{key_id}": {"delete": {"responses": {"200": {"description": "Revoke my API key"}}}},
    "/api/me/usage": {"get": {"responses": {"200": {"description": "My usage summary"}}}},
    "/api/me/pool-summary": {"get": {"responses": {"200": {"description": "My pool summary"}}}},
    "/api/me/settings": {"get": {"responses": {"200": {"description": "My user settings"}}}},
    "/api/me/settings/{key}": {"get": {"responses": {"200": {"description": "My setting"}}}, "post": {"responses": {"200": {"description": "Update my setting"}}}, "delete": {"responses": {"200": {"description": "Delete my setting"}}}},
    "/api/tokens": {"get": {"responses": {"200": {"description": "My tokens"}}}},
    "/api/tokens/{token_id}": {"get": {"responses": {"200": {"description": "My token"}}}, "patch": {"responses": {"200": {"description": "Update my token"}}}, "delete": {"responses": {"200": {"description": "Delete my token"}}}},
    "/api/tokens/{token_id}/probe": {"post": {"responses": {"200": {"description": "Probe my token"}}}},
    "/api/import/jobs": {"get": {"responses": {"200": {"description": "My import jobs"}}}, "post": {"responses": {"202": {"description": "Create my import job"}}}},
    "/api/import/jobs/{job_id}": {"get": {"responses": {"200": {"description": "My import job"}}}, "delete": {"responses": {"200": {"description": "Delete my import job"}}}},
    "/api/import/jobs/{job_id}/tokens": {"get": {"responses": {"200": {"description": "My import job tokens"}}}},
    "/api/requests": {"get": {"responses": {"200": {"description": "My request logs"}}}},
    "/api/admin/users": {"get": {"responses": {"200": {"description": "Platform users"}}}, "post": {"responses": {"201": {"description": "Create platform user"}}}},
    "/api/admin/users/{user_id}": {"get": {"responses": {"200": {"description": "Platform user"}}}, "patch": {"responses": {"200": {"description": "Update platform user"}}}},
    "/api/admin/users/{user_id}/tokens": {"get": {"responses": {"200": {"description": "User token list"}}}},
    "/api/admin/users/{user_id}/import/jobs": {"get": {"responses": {"200": {"description": "User import jobs"}}}},
    "/api/admin/users/{user_id}/requests": {"get": {"responses": {"200": {"description": "User request logs"}}}},
    "/api/admin/users/{user_id}/usage": {"get": {"responses": {"200": {"description": "User usage summary"}}}},
    "/api/admin/pool-summary": {"get": {"responses": {"200": {"description": "Global pool summary"}}}},
    "/api/admin/pool-summary/by-user": {"get": {"responses": {"200": {"description": "Pool summary by user"}}}},
    "/api/admin/requests": {"get": {"responses": {"200": {"description": "Global request logs"}}}},
    "/api/admin/requests/export": {"get": {"responses": {"200": {"description": "Global request export"}}}},
    "/api/admin/audit-logs": {"get": {"responses": {"200": {"description": "Platform audit logs"}}}}
  },
  "components": {
    "securitySchemes": {
      "serviceApiKey": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
